.selectBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
        margin: 0;
    }
}

.copyButton {
    margin: 15px 10px;
}

.centered {
    display: flex;
    align-items: center;
}

.outputField {
    height: 34px;
}