<div class="containerBox">
    <h2 nz-typography>
        Password generator
    </h2>
    <nz-row class="centered">
        <span>length:</span>
        <nz-col nzSpan="6">
            <nz-slider [nzMin]="1" [nzMax]="20" [(ngModel)]="pwLength"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="2">
            <nz-input-number [nzMin]="1" [nzMax]="20" [ngStyle]="{ marginLeft: '16px' }" [(ngModel)]="pwLength">
            </nz-input-number>
        </div>
    </nz-row>
    <div class="selectBox">
        <label nz-checkbox [(ngModel)]="useUppercase">uppercase</label>
        <label nz-checkbox [(ngModel)]="useLowerCase">lowercase</label>
        <label nz-checkbox [(ngModel)]="useNumbers">numbers</label>
        <label nz-checkbox [(ngModel)]="useSpecialChar">special characters</label>
    </div>
    <button nz-button nzType="primary" (click)="generatePassword()">
        <i nz-icon nzType="lock" nzTheme="outline"></i>
        Generate password
    </button>
    <nz-row>
        <nz-col nzSpan="10">
            <p class="outputField">{{newPassword}}</p>
        </nz-col>
        <div nz-col nzSpan="2">
            <div class="copyButton">
                <button nz-button nzType="primary" [cdkCopyToClipboard]="newPassword"
                    (click)="addCheckIcon()">
                    <i nz-icon nzType="{{isCopied ? 'check' : 'copy'}}" nzTheme="outline"></i>
                </button>
            </div>
        </div>
    </nz-row>
</div>