.textbox {
    margin-bottom: 15px;

    textarea {
        min-height: 120px;
    }
}

.ant-input {
    padding-right: 18px;
}

p {
    word-break: break-all;
}

button {
    margin-right: 10px;
}
