.messages {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -24px;
    padding-right: 16px;
}

.message {
    display: flex;

    .bubble {
        margin: 3px 0;
        padding: 5px 9px 4px;
        border-radius: 5px;
        display: inline-block;
    }

    .outher {
        position: relative;
    }
}

.bot {
    justify-content: flex-start;

    .bubble {
        background-color: #faebd7;
        margin-left: 6px;
    }

    .outher::before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 6px 6px 0;
        border-color: transparent #faebd7 transparent transparent;
        margin-top: 10px;
        position: absolute;
    }
}

.person {
    justify-content: flex-end;

    .bubble {
        background-color: #5f9ea0;
    }

    .outher::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 6px;
        border-color: transparent transparent transparent #5f9ea0;
        margin-top: 10px;
        position: absolute;
    }
}

.inputBox {
    padding-top: 24px;
}
