.cardBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a2b4be;
    height: 100vh;

    nz-card{
        width:300px;
    }
}

.chooseTwo {
    display: flex;
    flex-direction: column;

    > div {
        padding: 5px;

        span {
            margin-left: 10px;
        }
    }
}
