<div class="overview">
    <div nz-row [nzGutter]="15">
        <a routerLink="/countdown" nz-col [nzSpan]="6" class="gutter-row" nzXs="24" nzSm="12" nzMd="8" nzLg="6">
            <div>
                <i nz-icon nzType="field-time" nzTheme="outline"></i>
                <p>Timer / Countdown</p>
            </div>
        </a>
        <a nz-col [nzSpan]="6" class="gutter-row" nzXs="24" nzSm="12" nzMd="8" nzLg="6">
            <div>
                <i nz-icon nzType="field-time" nzTheme="outline"></i>
                Timer / Countdown
            </div>
        </a>
        <a nz-col [nzSpan]="6" class="gutter-row" nzXs="24" nzSm="12" nzMd="8" nzLg="6">
            <div>
                <i nz-icon nzType="field-time" nzTheme="outline"></i>
                Timer / Countdown
            </div>
        </a>
        <a nz-col [nzSpan]="6" class="gutter-row" nzXs="24" nzSm="12" nzMd="8" nzLg="6">
            <div>
                <i nz-icon nzType="field-time" nzTheme="outline"></i>
                Timer / Countdown
            </div>
        </a>
    </div>
</div>