@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

.containerBox {
    width: clamp(400px, 60vw, 600px);
    height: auto;
    margin: auto;
    padding-top: 20px;
    box-sizing: border-box;
}

.outputField {
    margin: 15px 0 30px;
    width: auto;
    background-color: aliceblue;
    border: 1px solid rgb(218, 237, 255);
    padding: 5px 10px;
}